#loginBackgroundImg {
  background-image: url("/Users/leonredman/projects/ticket-tracker/src/images/freeimg_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ui-container-login {
  height: 95vh;
  margin-top: 0;
}
