#homeBackgroundImg {
  background-image: url("https://raw.githubusercontent.com/leonredman/sim-ticket-tracker/master/src/images/freeimg_51.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  /* background-position: center; */
  margin-top: -20px;
}

.ui-container-home {
  height: 80vh;
  margin-top: 0;
}

.hero-title {
  color: white;
  padding-top: 250px;
  padding-left: 200px;
  font-size: 36px;
}

.hero-text {
  color: white;
  padding-left: 200px;
  font-size: 18px;
}
#hero-button {
  margin-left: 200px;
}
